[mysqld]
character-set-server = utf8bm4
collation-server = utf8mb4_general_ci
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
#log-error = /var/log/mysql/error.log
#By default we only accept connections from localhost
#bind-address = 127.0.0.1
#Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
relay-log=mysqld-relay-bin
relay-log-index=mysqld-relay-bin

log-bin=/var/log/mysql/mysql-bin.log #


server-id = 1
#!/bin/bash -e
OCTETS={`hostname -i | tr -s '.' ' '`}

MYSQL_SERVER_ID=`expr ${OCTETS[2]} \+ 256 + ${OCTETS[3]}`
echo "server-id=$MYSQL_SERVER_ID" >> /etc/mysql/mysql.conf.d/mysqld.cnf

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
#log-error = /var/log/mysql/error.log
# By default we only accept connections from localhost
#bind-address = 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks symbolic-links=0
relay-log=mysqld-relay-bin
relay-log=mysqld-relay-bin

log-bin=/var/log/mysql/mysql-bin.log

server-id=2





